button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.btn {
  min-width: 150px;
  font-family: $font__bold;
  background: $color__background-button;
  margin-top: 1em;
	border: none;
	border-radius: 10px;
	color: $color__button;
	@include font-size(1.1);
	line-height: 1;
  padding: 1em 1.5em;
  @include font-smooth;
  -webkit-appearance: none;
  transition: all .2s ease-in-out;
  cursor: pointer;

	&:hover {
    transform: scale(1.1);
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
  }

  @include respond-to(small) {
    @include font-size(1);
  }
  @include respond-to(large) {
    @include font-size(.9);
  }
}

.home-testimonial .btn {
  background-color: $color__brand-3;
}