// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

#page {
  position: relative;
  overflow-x: hidden;
}

#primary {
  background-color: #fff;
}

.wrapper {
  @include section-padding;
  @include padding-left-right;
  @include max-width($max-width);
}

.roboto-thin-italic-text {
  font-family: $font__italic;
}

.read-more-link {
  color: $color__brand-3;
  text-decoration: underline;

  &:hover {
    color: $color__brand-1;
  }
}

.wysiwig-flex-wrapper {
  max-width: 800px;
  margin: 0 auto;

  img {
    display: block;
    margin: 2em auto;
  }

  @include respond-to(x-small) {
    display: flex;
    justify-content: space-around;

    img {
      align-self: center;
      margin: 0;
    }
  }
}


// img {
//   object-fit: cover;
//   font-family: "object-fit: cover";
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   z-index:-1;
// }