#masthead {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
  background-color: rgba(0,0,0,0.5);
  padding-top: 10px;
  @include padding-left-right;
  border-bottom: 1px solid #fff;

  #left-side-navigation,
  #right-side-navigation {
    display: none;
    max-width: 500px;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -6px;
  }

  .site-branding {
    svg {
      width: 125px;
      height: 63px;

      .a {
        fill: #fff !important;
      }
    }
  }

  #menu-toggle {
    background: transparent;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
  }

  .nav-button-wrapper {
    margin-top: -10px;

    svg {
      width: 50px;

      .a {
        fill: #fff !important;
      }
    }

    #nav-icon {
      width: 35px;
      margin: 0 auto;
      position: relative;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 70%;
        background: #fff;
        opacity: 1;
        left: 15%;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
      }

      span:nth-child(1) {
        top: -43px;
      }

      span:nth-child(2),span:nth-child(3) {
        top: -34px;
      }

      span:nth-child(3) {
        background: $color__brand-1;
      }

      span:nth-child(4) {
        top: -25px;
      }
    }
  }

  #menu-toggle.open {
    #nav-icon span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    #nav-icon span:nth-child(2) {
      transform: rotate(45deg);
      background: $color__brand-1;
    }

    #nav-icon span:nth-child(3) {
      transform: rotate(-45deg);
    }

    #nav-icon span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }

  @include respond-to(small) {
    .flex-child {
      flex: 1;
    }

    #left-side-navigation,
    #right-side-navigation {
      display: block;
    }

    .site-branding {
      text-align: center;

      svg {
        width: 170px;
        height: 85px;
      }
    }

    .nav-button-wrapper {
      display: none;
    }
  }
}