$color__brand-1: #00bed5;
$color__brand-2: #231f20;
$color__brand-3: #2c1a46;
$color__brand-4: #3a3a3c; // footer text, alt-text
$color__brand-5: #ecebeb; // alt-background


$color__background-body: $color__brand-5;
$color__background-alt: $color__brand-5;
$color__background-purple: #231439;

$color__background-screen: #f1f1f1;
$color__background-hr: #fff;
$color__background-button: $color__brand-1;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: $color__brand-4;
$color__link-visited: purple;
$color__link-hover: $color__brand-1;
$color__link-current-page: #ffbd2e;

$color__text-main: #404040;

$color__button: #fff;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// #443859
// #8e4aaf
// #6af263

// #00bed5

