#primary {
  @include padding-left-right;
  @include section-padding;
  text-align: center;
  background-color: $color__brand-2;
  color: #fff;
  @include font-smooth;

  h1 {
    color: $color__brand-1;
  }
}