.home-testimonial {
  background-color: $color__brand-1;
  color: #fff;
  text-align: center;
  position: relative;


  .wrapper {
    max-width: 1350px;
    margin: 0 auto;

  }

  .inner-wrapper {
    @include max-width(500px);
  }

  h2 {
    color: $color__brand-3;
  }

  .divider {
    position: relative;
    padding-top: 3em;
    width: 200px;
    margin: 0 auto;

    .quote {
      display: block;
      position: relative;
      font-size: 8em;
      line-height: 0.1em;
      font-family: $font__medium;
      color: $color__brand-3;
      z-index: 2000;
    }

    hr {
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: 37px;
      z-index: 1000;
    }
  }

  .testimonial {
    padding-bottom: 2em;
  }

  .testimonial-carousel {
    color: #fff;
    height: 100%;

    .cell {
      width: 100%;
      height: auto;
      margin-left: 20px;

      .title {
        display: block;
      }
    }

    // Custom Flickity Styles

    /* big buttons, no circle */
    .flickity-prev-next-button {
      width: 13px;
      height: 24px;
      background: transparent;
      overflow: hidden;
      display: none; // display at larger size

      @include respond-to(x-small) {
        display: block;
      }
    }
    .flickity-prev-next-button:hover {
      background: transparent;
    }
    /* arrow color */
    .flickity-prev-next-button .arrow {
      fill: white;
    }
    .flickity-prev-next-button.no-svg {
      color: white;
    }

    @include respond-to(x-small) {
      padding-left: 3em;
      padding-right: 3em;
    }

    @include respond-to(medium) {
      padding-left: 4em;
      padding-right: 4em;
    }
  }

  @include respond-to(small) {
    .divider {
      width: 300px;

      hr {
        bottom: 40px;
      }
    }

  }
  @include respond-to(medium) {
    .inner-wrapper {
      max-width: 700px;
    }

    .divider {
      width: 400px;

      hr {
        bottom: 42px;
      }
    }
  }

  @include respond-to(large) {
    .inner-wrapper {
      max-width: 900px;
    }

    .divider {
      width: 500px;
      hr {
        bottom: 47px;
      }
    }
  }
}
