.page-template-page-about {

  #primary {
    color: $color__background-alt;
    color: $color__brand-4;

    .wrapper {

    }

    .entry-content {
      margin: 0;
    }
  }

  .about-top-place-to-work {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
    color: #fff;

    &:after {
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      background-color: $color__background-purple;
      opacity: 0.85;
    }

    .bkg-image {

      img {
        object-fit: cover;
        font-family: "object-fit: cover";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index:-1;
      }
    }

    .wrapper {
      position: relative;
      z-index: 2000;
      max-width: 1200px;
      padding-top: 3em;
      padding-bottom: 3em;
    }

    .content-wrapper {
      max-width: 800px;
      margin: 0 auto;

      a {
        color: #fff;
        text-decoration: underline;

        &:hover {
          color: $color__link-hover;
        }
      }

      h2 {
        margin-bottom: 0;
      }
    }

    .wysiwig-flex-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      @include max-width(350px);
    }

    @include respond-to(x-small) {
      .content-wrapper {
        h2 {
          margin-bottom: 1em;
        }

        .wysiwig-flex-wrapper {

          img {
            margin: 0 1em;
          }
        }
      }
    }

    @include respond-to(medium) {
      .wysiwig-flex-wrapper {
        max-width: 800px;
      }
    }

    @include respond-to(large) {
      .content-wrapper {
        max-width: 900px;

        .wysiwig-flex-wrapper {
          max-width: 900px;

          img {
            margin: 0 1.5em;
          }
        }
      }
    }
  }

  .about-learn-more-video {
    background-color: $color__brand-2;
    text-align: center;
  }
}