.page-template-page-about {

  #primary {
    color: $color__background-alt;
    color: $color__brand-4;

    .wrapper {
      // padding-top: 0;
    }

    .entry-content {
      margin: 0;
    }
  }

  .about-top-place-to-work {
    position: relative;
    z-index: 10;
    width: 100%;
    height: auto;
    color: #fff;

    &:after {
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      background-color: $color__brand-3;
      opacity: 0.85;
    }

    .bkg-image {

      img {
        object-fit: cover;
        font-family: "object-fit: cover";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index:-1;
      }
    }

    .wrapper {
      position: relative;
      z-index: 2000;
      text-align: center;
    }
  }

  .about-learn-more-video {
    background-color: $color__brand-2;
    text-align: center;
  }
}