.page-template-page-partners {

  section.partners {
    .wrapper {
      max-width: 1400px;
    }

    /*  BOX START =========================== */

    .box-container {
      display: block;
      margin: 0;
      padding: 0;
    }

    .box {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .inviewport .box {
      transform: translateY(140px);
      opacity: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    .box.visible {
      transform: translateY(0);
      opacity: 1;
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out;
    }

    .box a {
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;
    }

    .box a img {
      display: block;
      width: 200px;
      height: auto;
      margin: 0 auto;
      vertical-align: bottom;
      transition: opacity 0.2s ease-in;
      -webkit-back-visibility: hidden;
    }

    .box:hover img{
      opacity: 0.8;
      transition: all .2s ease-in-out;
      transform: scale(1.1);
      cursor: pointer;
    }

    @include respond-to(x-small) {
      .box-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      .box {
        flex: 0 1 50%;
      }
    }
    @include respond-to(small) {

      .box {
        flex: 0 1 33.333%;
      }

    }
    @include respond-to(medium) {

      .box {
        flex: 0 1 25%;
      }
    }
  }

  // Custom GLightbox styles

  .goverlay {
    background: rgba(2,181,205,0.75) !important;
  }

  .glightbox-container .ginner-container {
    background-color: #fff !important;
    text-align: center !important;
  }

  .glightbox-container .gslide-description {
    padding: 0 2em 1em !important; // comeback for mobile styles
    font-size: 1.2em !important; // comeback for mobile styles
  }

  .gprev, .gnext {
    background-color: transparent !important;
    font-family: $font__black !important;
  }

  .gslide-media, .glside-image {
    padding: 1em 2em 0 !important;
  }

  .gslide-desc {
    color: $color__brand-4 !important;
    font-family: $font__light !important;
  }

  .glightbox-clean .gclose {
    background-color: none !important;
    opacity: 1 !important;
    border: 1px solid white !important;
    border-radius: 50% !important;
    background-position: -60px 2px !important;
  }
}