.page-template-page-services-child {

  .header-title h2 {
    @extend h1;
    font-size: 1.5;
    color: #fff;
    line-height: 1.15;
  }

  h1.entry-title {
    color: $color__brand-1;
    margin-bottom: 0;
  }

  .entry-content {
    margin-top: 0;
  }
}