.header-wrapper {

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;
      opacity: 0;
      transition: opacity 0.25s;
      background: transparent;

      ul {
        left: -999em;
        top: 5px;
      }

      li {
        position: relative;
        z-index: 99999;

        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
        background-color: rgba(0,0,0,0.85);
        padding: 0.75em;
        font-size: 0.875em;
        text-transform: none;
        letter-spacing: normal;
        transition: background-color 0.125s;

        &:hover {
          background-color: lighten($color__brand-3, 20%);
          color: #fff;
        }

        @include respond-to(x-large) {
          font-size: 0.75em;
        }
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
      opacity: 1;
    }
  }

  li {
    float: left;
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: $font__black;
    @include font-smooth;
    letter-spacing: 1px;

    &:hover {
      color: $color__link-current-page;
    }
  }

  .current_page_item > a,
  .current-menu-item > a {
    color: $color__link-current-page;

    &:hover {
      // color: $color__brand-2;
      // background-color: lighten($color__brand-2, 40%);
    }

    &:hover {
      cursor: text;
    }
  }

  #left-main-menu,
  #right-main-menu {
    display: flex;
    justify-content: space-between;

    @include respond-to(medium) {
      li {
        margin-bottom: 1em;
      }

      .sub-menu li {
        margin-bottom: 0;
      }
    }
  }
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
}
